/* Estilos para centralizar o aplicativo na tela */
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilos para o componente ButtonBox */
  .button-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 50%;
    align-items: center;
  }
  
  /* Estilos para o componente Button */
  .calculator-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .calculator-button:hover {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
  }

  /* Estilos para o componente Display */
.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  width: 50%;
}

.expression {
  font-size: 18px;
}

.current-value {
  font-size: 32px;
}

  